nav {
    text-align: left;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    /* font: var(--main-font); */
    color: grey;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    color: white;
    position: absolute;
    right: 10px;
    top: 0;
}

#toggle {
    display: none;
}

@media only screen and (min-width:1000px) {
    label {
        display: none;
    }
}


@media only screen and (max-width: 1000px) {
    label {
        display: block;
        cursor: pointer;
        height: 40px;
        background-color: black;
        padding: 5px;
    }

    .menu {
        text-align: center;
        font: var(--main-font);
        width: 100vw;
        background-color: white;
        display: none;
    }

    .menu a {
        display: block;
        color: black;
    }

    #toggle:checked+.menu {
        display: block;
        margin-top: 10%;
    }
}